<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps">
    <test name="Regression">
		<parameter name = "browser" value = "Chrome"/>
		<parameter name = "env" value = "dev"/>
	<classes>
			<class name="com.palm.regressionTesting.RegressionTesting"/>
		</classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
	